.cal-body {
    /* border: solid; */
    background-color: rgb(72, 68, 68);
    height: 600px;
    width: 400px;
    margin-left: 5px;
    margin-top: 30px;
    border-radius: 25px;
    /* box-shadow: 0 0 30px black; */
}

.cal-body:hover {
    background-color: rgb(78, 152, 155);
    box-shadow: 0 0 10px rgb(255, 0, 166);
}

.screen .text {
    margin-top: 20px;
    height: 70px;
    width: 350px;
    font-weight: bolder;
    font-size: larger;
    margin-left: 20px;
    border: solid rgba(17, 1, 17, 0);
    box-shadow: 0 0 60px rgb(134, 110, 105);
    border-radius: 20px;
    pointer-events: none;
}

.row {
    padding: 17px;
    margin-left: 10px;
    margin-top: 5px;
}

#click-btn {
    background: #c00cbd;
    height: 60px;
    width: 60px;
    margin-left: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: larger;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 200;
    color: #000;
    background-color: #fff;
    border: rgb(0, 89, 255);
    border-radius: 45px;
    box-shadow: 0 0 5px rgb(0, 213, 255),
        0 0 5px rgb(0, 123, 255);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

#click-btn:hover {
    background-color: #e52eb7;
    box-shadow: 0px 15px 20px rgba(193, 6, 222, 0.4);
    color: #fff;
    transform: translateY(-7px);
}
